<!DOCTYPE html>
<html>
<head>
    <title>{{ username }}'s {{ feelings }} story</title>
</head>
<body>
<h1>{{ username }}'s {{ feelings }} story</h1>

<p>Once upon a time, {{ username }} was sitting in the Hackbright Lab, working on a Flask app called "{{ color }} {{ noun }}."</p>

<p>{{ username }} looked to the {{ direction }}, and saw a very {{ feelings }} {{ justin }} plugging away at the keyboard. {{ username }} {{ verb }} and fainted into the {{ adjective }} arms of {{ person }}.

<p>When {{ username }} woke up, {{ person }} confirmed that it was NOT just a dream, but {{ justin }} was nowhere to be seen.</p>

<form action="/game">
<input type="submit" value="Play Again">
</form>


</body>
</html>